# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example
.dev.vars
.wrangler

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# editors
.idea/
*.swp
*.swo
*~
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# misc
*.local
.cache/
.turbo/
.vercel/
.netlify/
